table {
	border-collapse: collapse;
	table-layout: auto;
	width: 100%;
}

tr:nth-child(even){background-color: #f2f2f2}

.tr_rich:hover {
	background-color: #F4CCCC;
}

.tr_visu:hover {
	background-color: #D9D2E9;
}

.tr_inter:hover {
	background-color: #CFE2F3;
}

.tr_perso:hover {
	background-color: #D9EAD3;
}

#input {
	background-image: url('../images/search_icon.png') ;
	background-position: 10px 10px;
	background-repeat: no-repeat;
	width: 100%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

.table-container {
	width: 100%;
	overflow: scroll;
	padding-top: 20px;
}
  
#table {
	border: 1px solid #ddd;
	overflow: scroll;
}

#table th, #table td {
	text-align: left;
	padding: 12px;
}

.date {
	width: 70px;
}